<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Vocab</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/showcase">Showcase</a></li>
          <li><a href="/member/add-vocab">Add Vocab</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <form action="add-vocab" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <div class="form-control">
          <label for="type">Type</label>
          <input type="text" name="type" id="title" />
        </div>
        <div class="form-control">
          <label for="meaning">Meaning</label>
          <textarea name="meaning" id="meaning" rows="5"></textarea>
        </div>
        <div class="form-control">
          <label for="example">Example</label>
          <textarea name="example" id="example" rows="5"></textarea>
        </div>
        <button type="submit">Add Vocab</button>
      </form>
    </main>
  </body>
</html>
