

    <body>
        <main>
            <% if (vocabs.length > 0) { %>
                <ul class="cart__item-list">
                    <% vocabs.forEach(vocab => { %>
                        <li class="favorite__item">
                            <h1><%= vocab.title %></h1>
                            <h2>Priority: <%= vocab.favoriteItem.priority %></h2>
                            <form action="/favorite/delete-item" method="POST">
                                <input type="hidden" value="<%= vocab.id %>" name="vocabId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Vocab in Favorite!</h1>
            <% } %>
        </main>
</body>